===
title: head.js
extends: demo.j2
===

{% block head %}
<script src="../media/js/head.min.js"></script>

<script>
head.js("https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael.js")
     .js("https://raw.github.com/headjs/www/master/content/test/jquery.js")
     .js("https://raw.github.com/smith/scripty2/master/lib/prototype.js")
     .js("https://raw.github.com/headjs/www/master/content/test/jquery-ui.js")
     .js("https://raw.github.com/kosmas58/compass-jquery-plugin/master/lib/jslint.js");
</script>

{% endblock %}

{% block details %}

head.js() calls are always separate from the page rendering. Does not matter
whether you load on HEAD or on bottom. You can also load programmatically on
demand.

{% endblock %}
