===
title: SCRIPT SRC on bottom
extends: demo.j2
===

{% block bottom %}

<script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael.js"></script>
<script src="https://raw.github.com/headjs/www/master/content/test/jquery.js"></script>
<script src="https://raw.github.com/smith/scripty2/master/lib/prototype.js"></script>
<script src="https://raw.github.com/headjs/www/master/content/test/jquery-ui.js"></script>
<script src="https://raw.github.com/kosmas58/compass-jquery-plugin/master/lib/jslint.js"></script>

{% endblock %}

{% block details %}

There is not much difference whether the scripts are loaded on HEAD or on
bottom. The key to high performance is to load without <em>blocking</em>.

{% endblock %}
